@inherits LayoutComponentBase

<PageTitle>Full-DAR-Redaction</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <b><div style="color:red">Extended testing phase: 02 May - 20 May</div></b><a href="/media/20220502 Redaction Tool.pdf" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
